/*@font-face {
  font-family: "Helvetica Neue Thin";
  src: url("../fonts/Helvetica_Neue.ttf");
}*/

.body {
  margin: 0;
}

.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue Thin', 'Arial', sans-serif;
  /* Позиционирование должно быть относительно общего блока */
  position: relative;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  display: flex;
  position: relative;
  background-color: #f2f2f2;
}

.logo {
  width: 183px;
  height: 32px;
  background-image: url('../images/logo_place_header.svg');
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  width: 730px;
  margin: auto 0;
  padding-left: 64px;
  font-size: 102px;
  line-height: 96px;
  z-index: 2;
  font-weight: 700;
}

.header__subtitle {
  width: 388px;
  position: absolute;
  bottom: 30px;
  left: 64px;
  font-size: 18px;
  line-height: 25px;
  z-index: 2;
  font-weight: normal;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  width: 765px;
  height: 608px;
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

.description {
  margin: 100px 0;
}

.two-columns {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  margin: 0;
  padding-bottom: 30px;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
}

.two-columns__span-accent {
  font-weight: 700;
}

.two-columns__paragraph:last-of-type {
  padding-bottom: 0;
}

.digits {
  margin: 100px 0;
}

.section-title {
  width: 60%;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-bottom: 20px;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 700;
}

.section-subtitle {
  width: 60%;
  display: flex;
  margin: 0 auto;
  padding-bottom: 60px;
  justify-content: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.table {
  width: 1100px;
  margin: 0 auto;
}

.table__blocks {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.table__cell {
  width: 250px;
  margin-bottom: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 20px;
}

.table__text:last-of-type {
  margin-bottom: 0;
}

.feynman {
  min-height: 790px;
  margin-top: 100px;
  background-color: #f2f2f2;
  background-image: url('../images/feynman.png');
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: left bottom;
  position: relative;
}

.feynman__title {
  display: flex;
  width: 648px;
  justify-content: center;
  margin: 0 auto;
  padding: 100px 0 70px 0;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 700;
  text-align: center;
}

.feynman__subtitle {
  text-align: center;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  text-decoration: none;
  color: #2f80ed;
  position: absolute;
  right: 48px;
  top: 50%;
}

.kaufman {
  background: #1f1f1f;
  position: relative;
  overflow: hidden;
}

.section-title_theme_dark {
  padding-top: 90px;
  color: #fff;
}

.section-subtitle_theme_dark {
  color: #fff;
  padding-bottom: 0;
}

.table_theme_dark {
  padding-bottom: 90px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin: 80px 0 0 0;
  z-index: 1;
}

.kaufman__triangle {
  width: 877px;
  height: 877px;
  background: url('../images/kaufman-triangle.svg') no-repeat;
  background-size: contain;
  position: absolute;
  top: 0;
  right: -210px;
}

.footer {
  min-height: 350px;
  background: #1f1f1f;
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 40px;
}

.footer__columns {
  width: 90%;
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo_place_footer {
  background: url('../images/logo_place_footer.svg');
}

.footer__author {
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  margin-bottom: 20px;
  line-height: 30px;
  font-size: 18px;
  font-weight: 700;
}

.footer__column-links {
  list-style: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  padding-left: 0;
  position: relative;
}

.footer__social-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  padding-right: 10px;
}

.footer__link {
  color: #fff;
  text-decoration: none;
}

.footer__social-icon_type_fb {
  background: url('../images/facebook_color_white.svg') no-repeat;
}

.footer__social-icon_type_vk {
  background: url('../images/vk_color_white.svg') no-repeat;
}

.footer__social-icon_type_insta {
  background: url('../images/instagram_color_white.svg') no-repeat;
}